
.form-layout-login{
    background-color: #536988;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.form-layout-register{
    background-color: #536988;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-box{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 35px;
    width: 400px;
    min-width: 250px;
    background-color: #fafafa;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.329);
    border-radius: 2px;
    padding-top: 10px;
}

.title-form{
    font-size: 22px;
    font-weight: 600;
    color:#384b66;
    margin-bottom: 30px;
    user-select: none;
}

.label-form{
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
    user-select: none;
}

.input-form{
    border: none;
    border-radius: 2px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    background-color: #dadada;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
}

.input-form-wm{
    border: none;
    border-radius: 2px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    background-color: #dadada;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
}

.input-information{
    color:#1f4881;
    font-size: 12px;
    user-select: none;
    margin-bottom: 5px;
}

.input-form::selection{
    background-color: #536783;
    color: #fafafa;
}

.options-form{
    color:#384b66;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

.options-form-right{
    color:#384b66;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    width: fit-content;
}

.back-form{
    color:#384b66;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    text-align: start;
    margin-bottom: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
}