p{
    margin: 0;
}

.accounts-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-bottom: 60px;
}

.accounts-title{
    margin: 0 auto;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.account-list{
    background-color: #0000001c;
    padding: 10px 0px;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

.account-list-empty{
    background-color: #0000001c;
    padding: 10px 0px;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

    user-select: none;
}

.account-list-selected{
    background-color: #b7c6d3;
    padding: 10px 0px;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    user-select: none;
}


.account-list-skeleton{
    padding: 10px 0px;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    user-select: none;
}

.account-list:hover{
    background-color: #b8b8b8;
}

.account-name{
    font-weight: 600;
    font-size: 16px;
    margin: 12px auto;
}


.account-amount{
    margin: 0 auto;
    font-size: 14px;
    color: #4d4d4d;
}

.total-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.total-name{
    font-size: 22px;
    font-weight: bolder;
}

.total-price{
    font-size: 22px;
}

.move-list{
    background-color: rgba(0, 0, 0, 0.11);
    padding: 10px 10px;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

.move-list-empty{
    background-color: rgba(0, 0, 0, 0.11);
    padding: 10px 10px;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    user-select: none;
}

.move-list-skeleton{
    background-color: rgb(216, 216, 216);
    padding: 10px 10px;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    user-select: none;
}

.move-list:hover{
    background-color: #b8b8b8;
}

.first-line-move{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:7px;
}

.move-price{
    font-size: 18px;
    font-weight: 600;
}

.move-date{
    font-size: 14px;
}

.second-line-move{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom:7px;
}

.move-name{
    color: rgb(54, 54, 54);
}

.third-line-move{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-type{
    font-weight: 500;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #F4F9E9;
    border: 2px solid #284b63;
    border-radius: 5px;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    padding: 32px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .modal{
        width: 70%;
    }

  }